html, body {
    margin: 0;
    padding: 0;
}
/*

canvas {
    position: relative
}
*/

#clinicLink {
    position: absolute;
    font-family: "Simplifica";
    font-size: 30px;
    color: #0f131f;
    text-decoration: underline;
    text-decoration-color: #0f131f;
    display: none;
}